// Accent Color
$bg-accent-color: #13d9d9;

// Background Colors
$bg-color-primary: #ffffff;
$bg-color-inverted: #2f2f2f;

// Button Background Colors
// Primary
$bg-button-primary: #13d9d9;
$bg-button-primary-hover: #0bc7c7;
$bg-button-primary-disabled: #2bfdfd;
// Secondary
$bg-button-secondary: #e6edf2;
$bg-button-secondary-hover: #dde4e9;

// Input Colors
$bg-input: #ffffff;
$bg-input-border-nofocus: #bcced6;
$bg-input-border-focus: $bg-accent-color;

// Text Colors
$text-color-heading: #000000;
$text-color-paragraph: #5e6777;
$text-color-warning: #ff6565;

$text-color-button-primary: #000000;
$text-color-button-primary-disabled: #049999;
$text-color-button-secondary: #444f59;
$text-color-button-secondary-disabled: #8f8f8f;

// Icon Colors
$icon-color-inactive: #878e9b;
$icon-color-active: #130f26;

// Dividers and Border colors
$border-color-inactive: #bcced6;

// Warning
$bg-warning: #ffeded;
