// -------------------------- Dimensions ---------------------------------------
$icon-width: 24px;
$icon-height: 24px;

// -------------------------- Margins ------------------------------------------
$mar-top-xsmall: 8px;
$mar-top-small: 15px;
$mar-top-medium: 25px;
$mar-top-large: 50px;

// -------------------------- Paddings -----------------------------------------
// Top Navigation Bar
$top-nav-pad-desktop: 100px;
$top-nav-pad-tablet: 50px;
$top-nav-pad-mobile: 25px;

// Button
$button-pad: 25px 15px;

// Input
$input-pad: 25px 15px;

// Cards
$card-padding: 30px;
